---
title: a9s MySQL for PCF Release Notes
owner: Partners
---

## <a id="2-0-1"></a>v2.0.1

**Release Date:** August 24, 2018

* Added Service Dashboard that allows the enduser to trigger and restore backups itself.
* Allow plan updates from single to cluster plans
* Compatible to PCF 1.12 and above

## <a id="0-10-0"></a>v0.10.0

**Release Date:** November 20, 2017

Features included in this release:

* On-demand service instance provisioning.
* Service instance isolation.
* Smoke tests errand. See [Configure Errands](./installing.html#errands").
* Service instance plan upgrade.
* Logging and monitoring.
